tensorflow==2.2.0
scikit-learn~=0.24.1
pandas~=1.1.2
cython
snorkel
torch==1.6.0
pytorch-lightning==1.4.2
pyspellchecker
torchtext==0.7.0
pytorch-nlp==0.5.0
regex~=2020.11.13
swifter
pandarallel
ftfy~=6.0.3
loguru~=0.5.3
xgboost
nltk==3.5
elasticsearch==7.8.0
spacy==2.3.2
pslpython
numpy~=1.19.2
PyYAML~=5.3.1
utils~=1.0.1
sklearn~=0.0